@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
*{
    font-family: 'nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection{
    background: yellow;
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: #222;
}

html::-webkit-scrollbar-thumb{
   background: yellow;
}

body{
    background: black ;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 50vh;
    padding: 1rem;

}

.btn{
    padding: .7rem 3rem;
    background: rgb(114, 112, 112);
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: white;
    color: black;
}

.heading{
    text-align: center;
    margin: 0  6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid rgba(202, 201, 201, 0.267);
    color: #ffffff;
}

.heading span{
    color: yellow;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 25rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .5rem solid rgb(228, 228, 31);
}

header .user .name{
    font-size: 2rem;
    color: #ffff;
}

.navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: white;
    color: black;
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.Home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    height: 100vh;
}

.Home h3{
    font-size: 2.5rem;
    color: white;
}
.Home h1{
    font-size: 5rem;
    color: white;
}

.Home h1 span{
    color: yellow;
}

.Home p{
    font-size: 2rem;
    color: rgb(234, 226, 226);
    padding: 1rem 0;
}
  
.About .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;

}

.About .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem ;
}

.About .row .info h3{
    font-size: 2rem;
    color: yellow;
    padding: 1rem 0;
    font-weight: normal;  
}

.About .row .info h3 span{
    color: #fff;
    padding: 0 .5rem;

}

.Education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.Education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 2rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.Education .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.Education .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding-top: 2rem 0;
    text-transform: none;
    line-height: 2rem;
}

.Education .box-container .box i{
    position: absolute;
    top: -1.5rem; left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: green;
}


.Bio .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.Bio .box-container .box{
    width: 70rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.Bio .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.Bio .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    text-transform: none;
    line-height: 2rem;
    border-radius: 80%;
    padding: 0px;
   
}

.Contact .row{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.Contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.Contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.Contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem;
    font-weight: normal;
    text-transform: none;
}

.Contact .row .content .info h3 i{
    padding-right: 3rem;
    color: yellow;
   
}

.top{
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .Home{
        padding: 1rem 4rem;
    }
}
@media (max-width:991px){
   header{
    left: -120%;
   }
   #menu{
    display: block;
   }
  header.toggle{
    left: 0%;
 }
 body{
    padding: 0;
 }
}

@media (max-width:768px){
  html{
    font-size: 50%;
  }
   
}
@media (max-width:400px){
   header{
   width: 100vw;
   }
   .heading{
    margin: 0 3rem;
   }
   .Education .box-container .box{
    width: 100%;
   }
}